<div class="container">
    <h1>{{title}}</h1>
    <p>Your current book collection</p>

    <ul class="book-list">
        {{#each books}}
        <li class="book">
            <h3>{{this.title}}</h3>
            <p>{{this.author}}</p>

            <p>
            <b>Book ID:</b> {{this.id}}<br>
            <b>Published:</b> {{this.published}}<br>
            <b>Category:</b> {{this.genre}}
            </p>
        </li>
        {{/each}}
    </ul>
</div>